@media (max-width:576px) {
    .layouts-shop{
        width: 100%;
        height: 170px;
        .shop{
            padding: 50px 20px;
            h1{
                font-size: 40px;
            }
        }
    }
    .showing{
        margin-top: 0;
        padding: 80px;
        .showing-big-box{
            width: 90%;
            margin: auto;
            .showing-box {
            margin-top: 20px;
                .showing-left {
                    position: absolute;
                        width: 100%;
                        top: 30%;
                        left: 32%;
                        height: 10%;
                }
                .showing-right {
                    .showing-r {
                        position: absolute;
                        width: 88%;
                        top: 40%;
                        left:6%;
                    }
                }
            }
        }
    }
    .conscious{
        .tinted{
            width: 90%;
            .faux-boxes{
                .original-box{
                    .belt{
                        .icon-ht{
                            opacity: 1;
                            i{
                                top: 2%;
                                left: 87%;

                            }
                        }
                        .icon-box{
                            .eye{
                                width: 9%;
                            }
                            .comp{
                                width: 9%;
                            }
                            .sel-opt{
                                width: 77%;
                            }
                            .add-to-cart{
                                width: 77%;
                            }
                        }
                        &:hover{
                            .icon-box{
                                top: 88%;
                            }
                        }
                    }
                }
            }
        }
    }
    .page-number{
        .numbers{
            width: 50%;
        }
    }
    .payment{
        .delivery{
            width: 95%;
        }
    }
}
@media (min-width:576px) and (max-width:768px){
    .layouts-shop{
        width: 100%;
        height: 170px;
        .shop{
            padding: 60px 0 0 100px;
            h1{
                font-size: 37px;
            }
        }
    }
    .showing{
        margin-top: 0;
        padding: 80px;
        .showing-big-box{
            width: 90%;
            margin: auto;
            .showing-box {
            margin-top: 10px;
                .showing-left {
                    position: absolute;
                        width: 100%;
                        top: 30%;
                        left: 38%;
                        height: 10%;
                }
                .showing-right {
                    .showing-r {
                        position: absolute;
                        width: 80%;
                        top: 40%;
                        left:10%;
                    }
                }
            }
        }
    }
    .conscious{
        .tinted{
            width: 70%;
            .faux-boxes{
                .original-box{
                    .belt{
                        .icon-ht{
                            opacity: 1;
                            i{
                                top: 2%;
                                left: 87%;

                            }
                        }
                        .icon-box{
                            .eye{
                                width: 9%;
                            }
                            .comp{
                                width: 9%;
                            }
                            .sel-opt{
                                width: 78%;
                            }
                            .add-to-cart{
                                width: 78%;
                            }
                        }
                        &:hover{
                            .icon-box{
                                top: 88%;
                            }
                        }
                    }
                }
            }
        }
    }
    .page-number{
        .numbers{
            width: 30%;
        }
    }
    .payment{
        .delivery{
            width: 95%;
        }
    }
}
@media (min-width:768px) and (max-width:992px){
    .layouts-shop{
        width: 100%;
        height: 270px;
        .shop{
            padding: 110px 0 0 130px;
            h1{
                font-size: 37px;
            }
        }
    }
    .showing{
        margin-top: 0;
        padding: 40px;
        .showing-big-box{
            width: 90%;
            margin: auto;
            .showing-box {
                margin-top: 5px;
                .showing-left {
                    position: absolute;
                        width: 100%;
                        top: 45%;
                        left: 10%;
                        height: 10%;
                }
                .showing-right {
                    .showing-r {
                        position: absolute;
                        top: 45%;
                        left: 66%;
                        // height: 13%;
                    }
                }
            }
        }
    }
    .conscious{
        .tinted{
            width: 80%;
            .faux-boxes{
                .original-box{
                    .belt{
                        .icon-ht{
                            opacity: 1;
                            i{
                                top: 2%;
                                left: 78%;

                            }
                        }
                        .icon-box{
                            .eye{
                                width: 19%;
                                i{
                                    padding: 7px;
                                }
                            }
                            .comp{
                                width: 19%;
                                i{
                                    padding: 7px;
                                }
                            }
                            .sel-opt{
                                width: 58%;
                                font-size: 12px;
                            }
                            .add-to-cart{
                                font-size: 12px;
                                width: 58%;
                            }
                        }
                        &:hover{
                            .icon-box{
                                top: 82%;
                            }
                        }
                    }
                }
            }
        }
    }
    .page-number{
        .numbers{
            width: 24%;
        }
    }
    .payment{
        .delivery{
            width: 95%;
            .icon-left{
                .trc{
                    margin-right: 20px;
                }
            }
        }
    }
}
@media (min-width:992px) and (max-width:1200px){
}
@media (min-width:1200px) and (max-width:1400px){
}
