@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Open+Sans:wght@300&family=Ubuntu:wght@300&display=swap');

$darkblue: #404040;
$green: #769881;
$textcolor: #2c2f40;
$blue: #8bd4d2;
$gray: #808080;
$black: #000;
$pink: #ffd1dc;
$lightblue: #bedce3;
$lightgray: #858585;
$hoverred: #f03d3F;
$brown: #866953;
$white: white;
$vivid-gamboge:#e79a01;
$lightgreen: #58AB1D;
$fbcolor: #006eff;
$twcolor: #009dff;
$lincolor: #0890D7;
$gray2: #E5E5E5;